.for{
  margin-top:100px;
  background-color: brown;
  padding:30px;
  max-width:50%;
  margin-left:400px;
}

.d-block{
  height:600px;
}

#cent{
  text-align: center;
}

.mama{
 background-color: brown;
  float: left;
  margin-top: 80px;
  width: 50%;
  margin-left:50px;
  position:relative;
  right: 120px;
  padding:20px;
}
#koko{
  height:600px;
}
